.recipe-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px;
}
.recipe-card img{
  height: 200px;
  width: 250px;
  object-fit: cover;

}

.recipe-card{
  width: 220px;
  padding: 10px;
}

.recipe-card:hover{
  color: #3a9691;
}
